body {
    font-family: 'Lato'; 
    margin: 0;
    padding: 0;
}

h1 {
    font-weight: bold;    
    margin-left:0.5em;
}

.navigator {
    background-color: black;
    height: 3em;
    display: block;
}

.content {
    margin-top: 0.5em;
    margin-left: 0.5em;
}

.code {
    color: green;
}

.lawyers {
    color: #c0ac18f8;
}

a:link {
    text-decoration: none;
}

